@import (reference) "../../references.less";

// ----------------------------------------------------------------------------- CONFIG

//Component name
@COMPONENT: Gallery;

.Gallery {
    display: none;
    width        : 50%;
    margin-bottom: 1rem;
    position     : relative;
    margin-right : 2rem;
    padding: 17px;

    @media (min-width: @breakpoint-tablet) {
        width        : 19%;
        margin-bottom: 0;
        padding      : 30px;

    }

    @media (min-width: @breakpoint-tablet),(orientation: portrait) {
        display: flex;
    }

    &_border {
        position  : absolute;
        background: @black-color;

        &-left {
            left            : 0;
            top             : 0;
            height          : 100%;
            width           : 10px;
            transform-origin: bottom;
        }

        &-top {
            left            : 0;
            top             : 0;
            height          : 10px;
            width           : 100%;
            transform-origin: left;

        }

        &-right {
            right           : 0;
            top             : 0;
            height          : 100%;
            width           : 10px;
            transform-origin: top;

        }

        &-bottom {
            left            : 0;
            bottom          : 0;
            height          : 10px;
            width           : 100%;
            transform-origin: right;

        }

    }

    &_container {
        display              : grid;
        position             : relative;
        grid-template-rows   : repeat(3, calc(33% - 6px));
        grid-column-gap      : 10px;
        grid-row-gap         : 10px;
        grid-template-columns: repeat(3, calc(33% - 6px));
        width                : 100%;
        height               : 100%;
        float                : left;

    }


    &_galleryItem {
        position: relative;
        width   : 100%;
        height  : auto;

        &:not(video) {
            height          : 0;
            padding-bottom  : 100%;
            background-color: black;

        }
    }

    &_video
    {
        position: fixed;
        z-index: 1;
    }
}

// ----------------------------------------------------------------------------- MODIFIERS


// ----------------------------------------------------------------------------- CHILDREN

// ----------------------------------------------------------------------------- PATCHES