@import "../../references.less";

// ----------------------------------------------------------------------------- CONFIG

//Component name
@COMPONENT: App;


.App {

  &_title {
    .font-montserrat-black();
    font-size: 10vw;

    @media (min-width: @breakpoint-tablet) {
      font-size: 5vw;
    }
  }

  &_subtitle {
    .font-montserrat-black();
    margin-top: 10px;
    font-size : 8vw;
    color     : grey;


    @media (min-width: @breakpoint-tablet) {
      font-size: 4vw;
    }
  }

  p {
    font-size  : 4vw;
    line-height: 6vw;
    width      : 100%;

    @media (min-width: @breakpoint-tablet) {
      font-size  : 2vw;
      line-height: 2.5vw;
      width      : 56%;
    }
  }

  i {
    font-style: oblique;
  }

  // ----------------------------------------------------------------------------- BLOCK

  // ----------------------------------------------------------------------------- ELEMENTS

  &_veil {
    position        : fixed;
    top             : 0;
    left            : 0;
    z-index         : 2;
    width           : 100%;
    height          : 100%;
    background-color: @white-color;
    pointer-events  : none;
  }

  &_webglCanvas {
    width         : 100% !important;
    position      : absolute;
    top           : 0;
    left          : 0;
    width         : 100%;
    height        : 100%;
    pointer-events: none;
    z-index       : 1;

  }


  &_container {
    position       : absolute;
    top            : 0;
    left           : 0;
    width          : 100%;
    height         : 100%;
    display        : flex;
    flex-direction : column;
    justify-content: flex-end;
    align-items    : center;
    overflow       : hidden;
  }


  &_wrapper {
    padding: 2rem;

  }

  &_header {
    display       : flex;
    flex-direction: column;

    @media (min-width: @breakpoint-tablet) {
      margin-bottom : 2rem;
      flex-direction: row;
    }
  }


  &_textWrapper {
    .font-esteban-regular();
    //text-align: center;
    display          : flex;
    //justify-content: center;
    align-items      : center;
    //flex-grow: 1;

    margin-top : 10px;
    line-height: 25px;
    width      : 100%;
    text-align : left;

  }


  &_link {
    position: relative;
    cursor  : pointer;
    color   : @green-color;

    &-cherAmi {
      color             : @cher-ami-blue-color;
      font-weight       : bold;
      /*
      &                 ::after{
        background-color: @cher-ami-blue-color;
      }*/
    }

    a {
      color          : inherit;
      border         : none;
      text-decoration: none;
    }

  }


  &_titleWrapper {
    text-align     : left;
    z-index        : -1;
    width          : 100%;
    float          : left;
    overflow       : hidden;
    display        : flex;
    flex-direction : column;
    justify-content: flex-end;


    @media (min-width: @breakpoint-tablet) {
      width: 60%;
    }
  }


}



// ----------------------------------------------------------------------------- MODIFIERS


// ----------------------------------------------------------------------------- CHILDREN

// ----------------------------------------------------------------------------- PATCHES