@import "../../references.less";

// ----------------------------------------------------------------------------- CONFIG

//Component name
@COMPONENT: App;


.App {

  h1 {

    .font-montserrat-black();
    font-size: 10vw;
  }

  h2 {
    .font-montserrat-black();
    margin-top: 10px;
    font-size : 8vw;
    color     : grey;
  }

  p {
    font-size  : 4vw;
    line-height: 5vw;
  }

  // ----------------------------------------------------------------------------- BLOCK

  // ----------------------------------------------------------------------------- ELEMENTS
  &_webglCanvas {
    position      : absolute;
    top           : 0;
    left          : 0;
    width         : 100%;
    height        : 100%;
    pointer-events: none;
    z-index       : 1;

    @media (min-width: @breakpoint-tablet) {
      // opacity       : 0.9;
    }
  }


  &_container {
    position       : absolute;
    top            : 0;
    left           : 0;
    width          : 100%;
    height         : 100%;
    display        : flex;
    flex-direction : column;
    justify-content: flex-end;
    align-items    : center;
  }


  &_wrapper {
    padding: 2rem;

  }

  &_gallery
  {
    display: grid;
    grid-template-columns: repeat(4, calc(25% - 0.5rem));
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    width: 100%;
    margin-bottom: 2rem;

    
    video:nth-child(1)
    {
     // grid-column: 1/1;
     // grid-row: 1/1;
    }
  }

  &_galleryItem
  {
    width: 100%;
    height: 100%;
    
    &:not(video)
    {
      background-color: black;

    }
  }

  &_textWrapper {
    .font-esteban-regular();
    //text-align: center;
    display          : flex;
    //justify-content: center;
    align-items      : center;
    //flex-grow: 1;

    margin-top   : 10px;
    line-height  : 25px;
    width        : 100%;
    text-align   : left;
    margin-bottom: 2rem;

  }


  &_link {
    position: relative;
    cursor  : pointer;
    color   : @green-color;

    &-cherAmi {
      color             : @cher-ami-blue-color;
      font-weight       : bold;
      /*
      &                 ::after{
        background-color: @cher-ami-blue-color;
      }*/
    }

    a {
      color          : inherit;
      border         : none;
      text-decoration: none;
    }

    /*
    &::after{
      content:"";
      position: absolute;
      width: 100%;
      height: 15px;
      bottom: 5px;
      left:0;
      transform-origin: left;
      transform:scaleX(0);
    }
*/
  }


  &_titleWrapper {
    text-align: left;
    z-index   : -1;
  }


}



// ----------------------------------------------------------------------------- MODIFIERS


// ----------------------------------------------------------------------------- CHILDREN

// ----------------------------------------------------------------------------- PATCHES